body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: black;
  }

  .rubik-font {
    font-family: "Rubik", sans-serif;
  }

  main {
    background-image: url("https://images.unsplash.com/photo-1506818144585-74b29c980d4b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center 0%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  }

 body[data-nav="true"] main {
  background-image: url("https://images.unsplash.com/photo-1506818144585-74b29c980d4b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}



body[data-nav="true"] nav #nav-links {
  transform: translateY(0%) scale(1);
}



body[data-nav="true"] #nav-toggle {
  background-color: rgb(85, 130, 149);
}

  body:not([data-nav="true"]) > #nav-toggle:hover > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }



  body[data-nav="true"] > #nav-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .data-viz-header {
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    z-index: 3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: -apple-system, sans-serif
}
.author-header {
    position: absolute;
    top: 30vh;
    left: calc(50vw - 1rem);
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
    z-index: 3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: -apple-system, sans-serif;
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 3vw;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.link:last-child {
    margin-right: 0;
}

.link:hover {
    color: #55aaff;
}

.link_2 {
    font-family: -apple-system, sans-serif;
    color: white;
    text-decoration: none;
    margin-right: 3vw;
    padding-top: 20;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.link_2:hover {
    color: #55aaff;
}
